<!DOCTYPE html>
<html lang="en">

<head>
    <title>php mvc</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles/homepage.css">
</head>

<body>
    <h1>Home Page</h1>
    <div>
        <a href="index.php?c=Admin&a=signup">Sign up</a><br>
        <a href="index.php?c=Admin&a=login">Log in</a><br>
        <a href="index.php?c=Admin&a=logout">Log out</a><br>
        <a href="index.php?c=Admin&a=manage">Manage User</a><br>
    </div>
</body>

</html>